@use "styles/mixins" as *;

// Button Variant

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-color);

  border-radius: var(--s-xs-rounding);

  background-color: var(--background-color);
}

.button_variant_solid {
  &:active:not([aria-disabled]) {
    background-color: var(--background-color);
  }

  &[aria-disabled] {
    cursor: auto;
  }
}

.button_variant_outline {
  border: rem(2) solid;
  border-color: var(--tertiary-first);
  border-radius: var(--s-xs-rounding);

  background-color: var(--background-color);

  &:active:not([aria-disabled]) {
    border-color: var(--background-color);
  }

  &.button_color_fourth {
    border-color: var(--primary);

    &:active:not([aria-disabled]) {
      border-color: var(--primary);
    }
  }

  &[aria-disabled] {
    cursor: auto;
  }
}

// Colors

.button_color_first {
  --text-color: var(--text-secondary);
  --background-color: var(--primary);

  &:hover:not([aria-disabled]),
  &:active:not([aria-disabled]) {
    opacity: 0.8;
  }

  &[aria-disabled] {
    --text-color: var(--text-tertiary);
    --background-color: var(--background-secondary);
  }
}

.button_color_second {
  --text-color: var(--text-primary);
  --background-color: var(--secondary-second);

  &:hover:not([aria-disabled]),
  &:active:not([aria-disabled]) {
    opacity: 0.8;
  }
}

.button_color_third {
  --text-color: var(--text-secondary);
  --background-color: var(--secondary-first);

  &:hover:not([aria-disabled]),
  &:active:not([aria-disabled]) {
    opacity: 0.8;
  }
}

.button_color_fourth {
  --text-color: var(--text-primary);
  --background-color: var(--background-quaternary);

  &:hover:not([aria-disabled]),
  &:active:not([aria-disabled]) {
    opacity: 0.8;
  }

  &[aria-disabled] {
    --text-color: var(--text-primary);
    --background-color: var(--tertiary-first);
  }
}

// Rounding

.button_rounding_first {
  border-radius: var(--s-xs-rounding);
}

.button_rounding_second {
  border-radius: var(--s-rounding);
}

// Size

.button_size_big {
  width: rem(48);
  height: rem(48);

  .icon {
    width: rem(24);
    height: rem(24);
  }
}

.button_size_regular {
  width: rem(36);
  height: rem(36);

  .icon {
    width: rem(12);
    height: rem(12);
  }
}

.button_size_small {
  width: rem(24);
  height: rem(24);

  .icon {
    width: rem(12);
    height: rem(12);
  }
}

// Icon

.icon {
  path {
    stroke: var(--text-color);
  }
}

.iconButtonLink {
  &[aria-disabled] {
    cursor: auto;
  }
}
