@use "styles/mixins" as *;

.mainLayoutRoot {
  height: 100%;
}

.content {
  position: relative;

  width: 100vw;
  height: 100%;
  max-height: calc(100lvh - var(--menu-height) - rem(20));
  padding-block-end: var(--menu-height);

  overflow-y: auto;
  scrollbar-width: none;
}

.menu {
  position: fixed;
  bottom: 0;

  height: calc(rem(20) + var(--menu-height));
}
